@import "../../style/utils";

header {
  @include defaultMargin;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  @include responsiveMobile {
    @include defaultMarginMobile;
  }

  img {
    width: 100%;
    height: 44%;
    object-fit: cover;
    @include responsiveMobile {
      max-height: 47px;
      object-fit: contain;
    }
    @include responsiveMobileXS {
      max-height: 35px;
    }
  }
}
