@import "../../style/utils";

.lodgingGallery_containerGallery {
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  height: 415px;
  @include responsiveMobile {
    height: 255px;
  }
  .containerGallery_image {
    width: 100%;
    height: 415px;
    object-fit: cover;
    @include responsiveMobile {
      height: 255px;
    }
  }
  .containerGallery_counter {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: map-get($weights, normal);
    color: map-get($colors, snow);
    @include responsiveMobile {
      display: none;
    }
  }
  .containerGallery_navButtons--disabled {
    position: absolute;
    z-index: 0;
    opacity: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .containerGallery_navButtons {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    picture {
      display: block;
      cursor: pointer;
      width: 4%;
      padding: 10px;
      text-align: center;
    }
    img {
      width: 100%;
      height: 50px;
      object-fit: contain;
    }
    .navButtons--left {
      transform: rotate(180deg);
    }
  }
}
